<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>gameView</title>
</head>
<body>
	<form th:action="@{/findJob}" th:object="${fightersForm}" method="POST">
		<h2>お仕事一覧</h2>
		<div>
			<span>あなたのお名前は：</span>
			<input type="text" name="name" placeholder="名前を入力してください。"/>
		</div>
		<div>
			<span>あなたのお仕事は：</span>
			<label><input type="radio" name="job" value="戦士"/>戦士</label>
			<label><input type="radio" name="job" value="魔術師"/>魔術師</label>
			<label><input type="radio" name="job" value="舞踏家"/>舞踏家</label>
		</div>
		<div>
			<input type="submit" value="次へ"/>
		</div>

	</form>
</body>
</html>